<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#s</th>
        <th scope="col">userId</th>
        <th scope="col">currencyFrom</th>
        <th scope="col">currencyTo</th>
        <th scope="col">amountSell</th>
        <th scope="col">amountBuy</th>
        <th scope="col">rate</th>
        <th scope="col">timePlaced</th>
        <th scope="col">originatingCountry</th>
    </tr>
    </thead>
    <tbody>
  <!--  <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr> !-->
    </tbody>
</table>